* {
    -fx-light-blue: #c4dcee;
    -fx-dark-blue: #6d72bb;
    -fx-white: #F7EDE2;
    -fx-black: #020300;
    -fx-orange: #F42C04;
}
.body {
    -fx-font-color: -fx-black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: 'Verdana';
}

.top-bar {
    -fx-background-color: -fx-light-blue;
    -fx-background-radius: 0 0 5px 5px;
}

#menu1:hover, #menu2:hover {
    -fx-background-color: -fx-black;
    -fx-cursor: hand;
}
#menu1, #menu2 {
    -fx-padding: 7px;
}


.main {
    -fx-background-color: -fx-white;
}

.divider {
    -fx-stroke: -fx-orange;
}

.choice-box {
    -fx-background-color: -fx-dark-blue;
    -fx-border-color: -fx-black;
    -fx-border-radius: 2px;
}
.choice-box:hover, .choice-box:focused {
    -fx-cursor: hand;
}

.button-black {
    -fx-background-color: -fx-dark-blue;
    -fx-background-radius: 2px;
    -fx-text-fill:  -fx-white;
    -fx-border-color: -fx-black;
    -fx-border-radius: 2px;
}

.button-black:hover, .button-black:focused {
    -fx-background-color: -fx-black;
    -fx-cursor: hand;
}

.pane-around {
    -fx-background-color: -fx-light-blue;
    -fx-background-radius: 2px;
}

.label-underline {
    -fx-border-style: hidden hidden solid hidden;
    -fx-padding: 0 0 2px 0;
    -fx-border-color: -fx-orange;
}

.label-small-text {
    -fx-font-size: 12px;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
.chart-line-symbol {
    -fx-background-radius: 3px;
    -fx-padding: 3px;
}

.info-pane {
    -fx-background-radius: 3px;
    -fx-padding: 3px;
    -fx-background-color: -fx-light-blue;
    -fx-border-color: -fx-black;
    -fx-border-width: 2;
}

.text-area *.text {
    -fx-text-alignment: center;
}
.text-area .content {
    -fx-background-color: -fx-white;
}


/*.default-color0.chart-line-symbol { -fx-background-color: #d08b6e; }*/
/*.default-color1.chart-line-symbol { -fx-background-color: #d9d081; }*/
/*.default-color2.chart-line-symbol { -fx-background-color: #c18ec1; }*/